<h1>Welcome to the KIEI-925 Casino!</h1>

<%
number1 = ["Ace",2,3,4,5,6,7,8,9,10,"jack","queen","king"].sample
suit1 = ["diamonds","hearts","spades","clubs"].sample
number2 = ["Ace",2,3,4,5,6,7,8,9,10,"jack","queen","king"].sample
suit2 = ["diamonds","hearts","spades","clubs"].sample
number3 = ["Ace",2,3,4,5,6,7,8,9,10,"jack","queen","king"].sample
suit3 = ["diamonds","hearts","spades","clubs"].sample
number4 = ["Ace",2,3,4,5,6,7,8,9,10,"jack","queen","king"].sample
suit4 = ["diamonds","hearts","spades","clubs"].sample
number5 = ["Ace",2,3,4,5,6,7,8,9,10,"jack","queen","king"].sample
suit5 = ["diamonds","hearts","spades","clubs"].sample
%>

<img src="http://golearntocode.com/images/cards/<%=number1 %>_of_<%=suit1 %>.png">
<img src="http://golearntocode.com/images/cards/<%=number2 %>_of_<%=suit2 %>.png">
<img src="http://golearntocode.com/images/cards/<%=number3 %>_of_<%=suit3 %>.png">
<img src="http://golearntocode.com/images/cards/<%=number4 %>_of_<%=suit4 %>.png">
<img src="http://golearntocode.com/images/cards/<%=number5 %>_of_<%=suit5 %>.png">
<!-- Deal the cards here -->
